[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/color-seoul256"]
	path = bundle/color-seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/phpcs.vim"]
	path = bundle/phpcs.vim
	url = https://github.com/vim-scripts/phpcs.vim
[submodule "bundle/vim-hack"]
	path = bundle/vim-hack
	url = https://github.com/hhvm/vim-hack.git
[submodule "bundle/hardmode"]
	path = bundle/hardmode
	url = git://github.com/wikitopian/hardmode.git
[submodule "bundle/srcery"]
	path = bundle/srcery
	url = https://github.com/roosta/srcery.git
[submodule "base16"]
	path = base16
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule "base16-gnome-terminal"]
	path = base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule "bundle/happy_hacking.vim"]
	path = bundle/happy_hacking.vim
	url = https://github.com/YorickPeterse/happy_hacking.vim.git
[submodule "bundle/tender.vim"]
	path = bundle/tender.vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-obsidian"]
	path = bundle/vim-obsidian
	url = https://github.com/trevorrjohn/vim-obsidian.git
[submodule "bundle/vim-buddy"]
	path = bundle/vim-buddy
	url = https://github.com/DrSpatula/vim-buddy.git
[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-colors_atelier-schemes"]
	path = bundle/vim-colors_atelier-schemes
	url = https://github.com/atelierbram/vim-colors_atelier-schemes.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/vorange"]
	path = bundle/vorange
	url = https://github.com/Marfisc/vorange.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = https://github.com/scwood/vim-hybrid.git
[submodule "bundle/vim-phpcolors"]
	path = bundle/vim-phpcolors
	url = https://github.com/modess/vim-phpcolors.git
